**/core_build
**/Release
**/Debug
*.user
*.ncb
*.suo
.DS_Store
Thumbs.db
*.xcuserstate
*.xcuserdatad
**/DerivedData
**/ascdocumentscore/build
**/ascdocumentscore\ Helper/build
.idea/
*Makefile*
*qmake.stash
.qtc_clangd
